html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-perspective: 0;
    perspective: none;
    overflow: hidden;
}

#app .piece {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-position: left top;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 5;
}

.button {
    background-color: #00ffff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    color: #000000;
    cursor: pointer;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 30px;
    margin: 0;
    outline: none;
    text-align: center;

    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.button :hover {
    background-color: #00e5e5;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.button div {
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
}